section{
    display: flex;
}
.ttt{
             
    justify-content: space-between;
    width: 2000px;
    
}
/* Отступы для столбцов */
.task-body{
    margin-right: 50px;
    margin-top: 50px ;
    background-color: rgb(233, 187, 127);
    width: 20%;
    text-align: center;
    border-radius: 10px 10px 0px 0px ;
    
}
/* Настройка заголовков столбцов */
h3{
    border-style: hidden;
    border-radius: 10px 10px 10px 10px ;
    background-color: rgb(148, 166, 228);
    margin-bottom: 50px;
}