.tasks{
    font-size: 1.5em;
 
   
    
}
*{
    list-style: none;
}
/* для каждой строки задаем свои свойства */


li{
    padding-right: 40px;
    border-style: hidden;
    margin-bottom: 20px;
    background-color: lime;
    border-radius: 10px 10px 10px 10px ;
    border-left: 9px solid black;

}
.task2{
    padding-right: 40px;
    border-style: hidden;
    margin-bottom: 20px;
    background-color: gold;
    border-radius: 10px 10px 10px 10px ;
    border-left: 9px solid black;
}
.task3{
    padding-right: 40px;
    border-style: hidden;
    margin-bottom: 20px;
    background-color: khaki;
    border-radius: 10px 10px 10px 10px ;
    border-left: 9px solid black;
}
.task4{
    padding-right: 40px;
    border-style: hidden;
    margin-bottom: 20px;
    background-color: plum;
    border-radius: 10px 10px 10px 10px ;
    border-left: 9px solid black;
}